<div class="container">
  <p>Zalogowany jest {{loggedUser.email}}</p>
  <p>Nazwa w bazie: {{loggedUser.displayName}}</p>
  <div>
    <div *ngIf="!loggedUser">
      <h1>Nie jesteś zalogowany!</h1>
    </div>
    <div *ngIf="loggedUser">
      <div>
        <h1>Jesteś zalogowany!</h1>
        <a style="margin-right: 10px" class="btn btn-lg btn-primary" role="button" (click)="authService.logout()">Logout</a>
        <a class="btn btn-md btn-secondary" role="button" (click)="info()">Info o juzerze</a>
        <br/>
        <input [(ngModel)]="tst">
        <a class="btn btn-md btn-secondary" role="button" (click)="update()">Zaktualizuj</a>
        <p>Input: {{loggedUser.displayName}}</p>
        <a class="btn btn-md btn-secondary" role="button" (click)="sendVerEmail()">Email weryfikacyjny</a>
      </div>
    </div>
  </div>
</div>