<div class="container">
  <p>Zalogowany jest {{loggedUser.email}}</p>
  <p>Nazwa w bazie: {{loggedUser.displayName}}</p>
  <div>
    <div *ngIf="!loggedUser">
      <h1>Nie jesteś zalogowany!</h1>
    </div>
    <div *ngIf="loggedUser">
      <div>
        <h1>Jesteś zalogowany!</h1>
        <a style="margin-right: 10px" class="btn btn-lg btn-primary" role="button" (click)="authService.logout()">Logout</a>
        <a class="btn btn-md btn-secondary" role="button" (click)="info()">Info o juzerze</a>
        <br/>
        <input [(ngModel)]="tst">
        <a class="btn btn-md btn-secondary" role="button" (click)="update()">Zaktualizuj nazwę</a>
        <a class="btn btn-md btn-secondary" role="button" (click)="sendVerEmail()">Wyślij email weryfikacyjny</a>

        <!-- <div class="container-lower-3">
          <div class="visual-item-4">
          </div>
        </div> -->
        <div class="container-lower">
          <p class="visual-item-5">uid:</p>
          <p class="visual-item-6">{{loggedUser.uid}}</p>
          <p class="visual-item-5">displayName:</p>
          <p class="visual-item-6">{{loggedUser.displayName}}</p>
          <p class="visual-item-5">email:</p>
          <p class="visual-item-6">{{loggedUser.email}}</p>
          <p class="visual-item-5">emailVerified</p>
          <p class="visual-item-6">{{loggedUser.emailVerified}}</p>
          <p class="visual-item-5">phoneNumber</p>
          <p class="visual-item-6">{{loggedUser.phoneNumber}}</p>
        </div>

        <a class="btn btn-md btn-secondary" role="button" (click)="sendNewData()">Dodaj element do bazy</a>     
        <div class="container-lower" *ngFor="let itm of usrDataFromDB">
          <p class="visual-item-5">uid:</p>
          <p class="visual-item-6">{{itm.uid }}</p>
          <p class="visual-item-5">val1:</p>
          <p class="visual-item-6">{{itm.val1}}</p>
          <p class="visual-item-5">val2:</p>
          <p class="visual-item-6">{{itm.val2}}</p>
          <a class="btn" role="button" (click)="updateData(itm)">Zaktualizuj val2</a>
        </div>

      </div>
    </div>
  </div>
</div>